<div class="gradient-blue">
            <div class="container">
				<div class="row">
					<div class="login">
						<div class="card">
							<div class="card-image">
							  <img src="assets/images/login.jpg">
							  <span class="card-title">Karbo web wallet</span>
							</div>
							<form name="form" (ngSubmit)="f.form.valid && model.password == model.confirmPassword && register()" #f="ngForm" novalidate>
								<div class="card-content black-text">
									<span class="card-title">Register</span>
									
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
										<label for="email">Email</label>
										<input type="email" name="email" 
											[(ngModel)]="model.email" #email="ngModel" 
											required /><!--placeholder="Enter email" -->
										<div *ngIf="f.submitted && !email.valid" class="invalid-feedback red-text">Email is required</div>
									</div>
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
										<label for="UserName">User name</label>
										<input type="text" name="UserName" 
											[(ngModel)]="model.username" #username="ngModel" 
											required /><!--placeholder=" Enter user name" -->
										<div *ngIf="f.submitted && !username.valid" class="invalid-feedback red-text">User name is required</div>
									</div>
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
										<label for="password">Password</label>
										<input type="password" name="password" 
											[(ngModel)]="model.password" #password="ngModel" 
											required /><!-- placeholder="Enter password"  -->
										<div *ngIf="f.submitted && !password.valid" class="invalid-feedback red-text">Password is required</div>
									</div>
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
										<label for="ConfirmPassword">Password</label>
										<input type="password" name="ConfirmPassword" 
											[(ngModel)]="model.confirmPassword" 
											#confirmPassword="ngModel" required 
											[pattern]="'^'+model.password+'$'"/> <!--placeholder="Confirm password"-->
										<div *ngIf="f.submitted && !confirmPassword.valid" class="invalid-feedback red-text">Password not match</div>
									</div>
								</div>
								<div class="card-action">
									<div class="input-field">
										<button [disabled]="loading" class="btn waves-effect waves-light blue">
											Register
										</button>
										<a [routerLink]="['/login']" class="btn waves-effect waves-light blue lighten-2">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="login">
						<a href="/tos">Terms and Conditions</a> | <a href="/help">Support</a>
					</div>
				</div>
					
			</div>
</div>