<div class="gradient-blue">
            <div class="container">
				<div class="row">
					<div class="register">
						<div class="card">
							<div class="card-image">
							  <img src="assets/images/login.jpg">
							  <span class="card-title">Karbo web wallet</span>
							</div>
							<form name="form" (ngSubmit)="f.form.valid && model.password == model.confirmPassword && register()" #f="ngForm" novalidate>
									<!-- f.form.valid && model.password == model.confirmPassword &&  -->
								<div class="card-content black-text">
									<span class="card-title">Register</span>
									
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
										<label for="email" class="required-label">Email</label>
										<input type="email" name="email" 
											[(ngModel)]="model.email" #email="ngModel" 
											required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"><!--placeholder="Enter email" -->
										<div *ngIf="f.submitted && email.errors?.required" class="invalid-feedback red-text">Email is required</div>
										<div *ngIf="f.submitted && email.errors?.pattern" class="invalid-feedback red-text">Email mast same mask</div>
									</div>
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
										<label for="UserName" class="required-label">User name</label>
										<input type="text" name="UserName" 
											[(ngModel)]="model.username" #username="ngModel" 
											required minlength="3" maxlength="20"/><!--placeholder=" Enter user name" -->
										<div *ngIf="f.submitted && username.errors?.required" class="invalid-feedback red-text">User name is required</div>
										<div *ngIf="f.submitted && (username.errors?.minlength || username.errors?.maxlength)" class="invalid-feedback red-text">length between 3 and 20</div>
									</div>
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
										<label for="password" class="required-label">Password</label>
										<input type="password" name="password" 
											[(ngModel)]="model.password" #password="ngModel" 
											required minlength="8"/><!-- placeholder="Enter password"  -->
										<div *ngIf="f.submitted && password.errors?.required" class="invalid-feedback red-text">Password is required</div>
										<div *ngIf="f.submitted && password.errors?.minlength" class="invalid-feedback red-text">Min length 8</div>
									</div>
									<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
										<label for="ConfirmPassword" class="required-label">Password</label>
										<input type="password" name="ConfirmPassword" 
											[(ngModel)]="model.confirmPassword" 
											#confirmPassword="ngModel" required 
											[pattern]="'^'+model.password+'$'"/> <!--placeholder="Confirm password"-->
										<div *ngIf="f.submitted && !confirmPassword.valid" class="invalid-feedback red-text">Password not match</div>
									</div>
								</div>
								<div class="card-action">
									<div class="input-field">
										<button [disabled]="loading" type="submit" class="btn waves-effect waves-light blue">
											Register
										</button>
										<a [routerLink]="['/login']" class="btn waves-effect waves-light blue lighten-2">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="register">
						<a href="/tos">Terms and Conditions</a> | <a href="/help">Support</a>
					</div>
				</div>
					
			</div>
</div>