<nav class="nav-extended blue hide-on-med-and-down main-nav">
  <div class="container nav-wrapper center">
    <a class="logo btn hide-on-small-and-down left material-icons circle medium" href="#">
      Ҝ
    </a>
    <span class="wallet-balance">
        {{currentBalance.available | amountTranform: 12 : 'KRB' }} 
        <small>(<i class="material-icons balance-lock">lock</i> {{currentBalance.locked | amountTranform: 12 : 'KRB' }})</small>
      </span>
    <ul class="right">
      <li class="current-account">
        <a class="dropdown-button chip blue darken-1 white-text" href="#!" materialize="dropdown" data-activates="account-dropdown">
          {{currentUser}}
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id="account-dropdown" class="dropdown-content blue">
            <li>
              <a class="white-text" [routerLink]="['/account']">Manage account</a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="white-text" [routerLink]="['/login']">Logout</a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav-extended blue hide-on-large-only second-nav">
    <div class="container nav-wrapper center">
      <ul id="slide-out" class="side-nav fixed blue">
        <li class="center">
          <a class="logo btn center material-icons circle medium" href="#">
            Ҝ
          </a>
        </li>
        <li class="no-padding">
          <ul>
            <li><div class="chip blue darken-1 white-text"><span>{{currentUser}}</span></div></li>
            <li><a class="btn white black-text" [routerLink]="['/login']">Logout</a></li>
			
			<li><a class="white-text" href="/help">Help</a></li>
			
          </ul>
        </li>
      </ul>
      <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out"
          class="button-collapse">
          <i class="material-icons">menu</i>
      </a>
      <div class="wallet-balance">
          <div>{{currentBalance.available | amountTranform: 12 : 'KRB' }}</div>
          <div>
            <small>(<i class="material-icons balance-lock">lock</i> {{currentBalance.locked | amountTranform: 12 : 'KRB' }})</small>
          </div>
      </div>
    </div>
</nav>

