<nav class="nav-extended blue hide-on-med-and-down main-nav">
  <div class="container nav-wrapper center">
    <a class="logo btn hide-on-small-and-down left material-icons circle medium white" href="#" style="
    font-size: 40px;
    color: #53B2FD;
    display: block;
    width: 49px;
    height: 48px;
    font-family: Roboto,sans-serif;
    line-height: 48px;
    margin-top: 10px;
    border-radius: 50%;
    padding: 0;
	">&#1180;</a>
    <span class="">
        {{balance.available | amountTranform: 12 : 'KRB' }} 
        <small>(<i class="material-icons balance-lock">lock</i> {{balance.locked | amountTranform: 12 : 'KRB' }})</small>
      </span>
    <ul class="right">
      <li>
        <span>{{currentUser}}</span>
      </li>
      <li>
        <a class="btn white black-text" [routerLink]="['/login']">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav-extended blue hide-on-large-only second-nav">
    <div class="container nav-wrapper center">
      <ul id="slide-out" class="side-nav fixed blue">
        <li class="logo center">
            <a class="" href="#">Wallet Logo</a>
        </li>
        <li class="no-padding">
          <ul>
            <li><span>{{currentUser}}</span></li>
            <li><a class="btn white black-text" [routerLink]="['/login']">Logout</a></li>
          </ul>
        </li>
      </ul>
      <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out"
          class="button-collapse">
          <i class="material-icons">menu</i>
      </a>
      <div class="wallet-balance">
          <div>{{balance.available | amountTranform: 12 : 'KRB' }}</div>
          <div>
            <small>(<i class="material-icons balance-lock">lock</i> {{balance.locked | amountTranform: 12 : 'KRB' }})</small>
          </div>
      </div>
    </div>
</nav>

