
.wallet-container .table td {
    word-break: break-all;
}


.main-footer {
	height: auto;
}
.footer-nav ul {
    display: block;
    line-height: normal;
}
.footer-nav ul>li.indicator{
    display: none;
}
.footer-nav ul>li {
    float: none;
    display: inline-block;
    width: 70px;
}


@media screen and (max-width: 1200px) {
    .wallet-container {
        /* max-width: 1200px;
        margin: 0 auto; */
    }
}