<navbar (updateWalletData)="loadWalletData()" (setSendFormFromQRCode)="setSendForm($event)"></navbar>
<div class="container wallet-container">
  <div class="row" >
    <div id="receive">
      <h5 class="blue-text">Address</h5>
      <p style="word-wrap: break-word;" 
        *ngFor="let wallet of data.wallets; let i = index">
        <span *ngIf="i==0">{{wallet.address}}</span>
        <i *ngIf="i==0" class="material-icons prefix copy-to-clipboard waves-effect tooltipped" 
          (click)="copyToClipboard(wallet.address)"
          data-position="bottom" data-delay="50" data-tooltip="Copy to clipboard"
          materialize="tooltip">&#xE14D;</i>
      </p>
      <receive [wallets]="data.wallets"></receive>
    </div>
    <div id="history">
      <history [transactions]="data.transactions"></history>
    </div>
    <div id="send">
      <send [walletData]="data" (updateWalletData)="loadWalletData()"></send>      
    </div>
  </div>
</div>
<nav class="main-footer blue">
  <div class="nav-wrapper">
      <div class="container">
      <div class="row footer-nav center">
          <!-- <div class="col s1 m3 l3"></div>
          <div class="col s10 m6 l6">
            <ul class="center" materialize="tabs">
              <li class="tab col s4"><a class=""  href="#receive"><i class="material-icons">input</i><span>Receive</span></a></li>
              <li class="tab col s4"><a class="active" href="#history"><i class="material-icons">list</i><span>History</span></a></li>
              <li class="tab col s4"><a class="" href="#send"><i class="material-icons">send</i><span>Send</span></a></li>
            </ul>
          </div>
          <div class="col s1 m3 l3"></div> -->
          <div><a href="#"><i class="material-icons">&#xE890;</i><span>Receive</span></a></div>
          <div><a href="#"><i class="material-icons">&#xE896;</i><span>History</span></a></div>
          <div><a href="#"><i class="material-icons">&#xE163;</i><span>Send</span></a></div>
      </div>
    </div>
  </div>
</nav>

