<div class="gradient-blue">
	<div class="row">
		<div class="col s12">
			<div class="container">			
				<div class="row">
					<div class="col s12 m6 l5 offset-m2 offset-l4">
					  <div class="card">
						<div class="card-image">
						  <img src="assets/images/login.jpg">
						  <span class="card-title">Karbo web wallet</span>
						</div>
						<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
							<div class="card-content black-text">
							
							
						  
								<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
									<label for="username">Email</label>
									<input type="text" name="username" 
										[(ngModel)]="model.username" #username="ngModel" 
										required />
									<div *ngIf="f.submitted && !username.valid" class="invalid-feedback red-text">Username is required</div>
								</div>
								<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
									<label for="password">Password</label>
									<input type="password" name="user-password" 
										[(ngModel)]="model.password" #password="ngModel" 
										required />
									<div *ngIf="f.submitted && !password.valid" class="invalid-feedback red-text">Password is required</div>
								</div>
								
							</div>
							<div class="card-action">
								<div class="input-field">
									<button [disabled]="loading" class="btn waves-effect waves-light blue">
										Login
									</button>
									<a [routerLink]="['/register']">Register</a>
								</div>
							</div>
						</form>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6 l5 offset-m2 offset-l4">
						<a href="/tos">Terms and Conditions</a> | <a href="/help">Support</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
