<div class="gradient-blue">
			<div class="container">			
				<div class="row">
					<div class="login" id="Login">
					  <div class="card">
						<div class="card-image">
						  <img src="assets/images/login.jpg">
						  <span class="card-title">Karbo web wallet</span>
						</div>
						<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
							<div class="card-content black-text">
								<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
									<label for="email" class="required-label">Email</label>
									<input type="email" name="email" 
										[(ngModel)]="model.login" #email="ngModel" 
										required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"><!--placeholder="Enter email" -->
									<div *ngIf="f.submitted && email.errors?.required" class="invalid-feedback red-text">Login is required</div>
									<div *ngIf="f.submitted && email.errors?.pattern" class="invalid-feedback red-text">It is not valid login</div>
								</div>
								<div class="input-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
									<label for="password" class="required-label">Password</label>
									<input type="password" name="user-password" 
										[(ngModel)]="model.password" #password="ngModel" 
										required />
									<div class="forgot-password"><a [routerLink]="['/restore-password']">Forgot password</a></div>
									<div *ngIf="f.submitted && !password.valid" class="invalid-feedback red-text">Password is required</div>
								</div>
								
							</div>
							<div class="card-action">
								<div class="input-field">
									<button [disabled]="loading" type="submit" class="btn waves-effect waves-light blue">
										Login
									</button>
									<button type="button" [routerLink]="['/register']" [disabled]="loading" class="btn waves-effect waves-light blue lighten-2">Register</button>
								</div>
							</div>
						</form>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="login">
						<a href="/tos">Terms and Conditions</a> | <a href="/help">Support</a> | <a href="/swagger-ui.html">Api</a>
					</div>
				</div>
			</div>
</div>
