.restore-password {
	box-sizing: border-box;
    padding: 20px 0.75rem 0 0;
    min-height: 1px;
	margin: 0px auto 0px;
}

@media only screen and (max-width: 720px) {
	.restore-password {
		max-width: 500px;
		width: 100%;	
	}
}

@media only screen and (min-width: 720px) {
	.restore-password {
		max-width: 400px;
		width: 400px;	
	}
}
