
.wallet-container .table td {
    word-break: break-all;
}
.wallet-container .table th,
.wallet-container .table td {
    /*min-width: 50px;*/
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.transactions-table td {
    vertical-align: middle;
}

.my-wallets-container table td {
    min-width: 150px;
}

.send-form-container{}
.my-wallets-container{}

:host .all-transactions-container ::ng-deep pagination-controls ul.ngx-pagination{
    padding-left: 0px;
}
:host .all-transactions-container ::ng-deep pagination-controls .ngx-pagination .current {
    background-color: #007bff!important;
}

.total-count {
    padding: 5px;
}

.collection .collection-item p>span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .wallet-container {
        /* max-width: 1200px;
        margin: 0 auto; */
    }
}