<navbar></navbar>
<br>
<div class="col-lg-12 col-xl-10 offset-xl-1 wallet-container">
  <div class="row">
    <div class="col-lg-8">
      <h3>My wallets({{data.balance.available | amountTranform: 12 : 'KRB' }})</h3>
      <table *ngIf="!loading" class="table table-bordered table-striped">
        <tbody>
          <tr  *ngFor="let wallet of data.wallets">
            <td>Wallet address:</td>
            <td>{{wallet.address}}</td>
          </tr>
        </tbody>
      </table>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <hr>
    </div>
    <div class="col-lg-4">
      <h3>Send KRB</h3>
      <form name="sendForm" (ngSubmit)="sendData()" >
        <div class="form-group">
          <label for="ToWalletAddress">To address:</label>
          <textarea class="form-control" name="ToWalletAddress" 
              [(ngModel)]="model.address" #address="ngModel" 
              id="ToWalletAddress" rows="2" required></textarea>
        </div>
        <div class="form-group">
          <label for="FromAddress">From address:</label>
          <select class="form-control" id="FromAddress" name="FromAddress"  placeholder="Select wallet">
            <option *ngFor="let wallet of data.wallets" 
                [ngValue]="wallet">{{wallet.address}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Amount">Amount</label>
          <div class="input-group">
            <input type="number" class="form-control" name="amount" 
                [(ngModel)]="model.amount" #amount="ngModel"
                [disabled]="model.allAvailableBalance"  
                id="Amount" placeholder="Enter amount">
            <span class="input-group-addon">
              <input type="checkbox" name="allAvailableBalance" 
                  [(ngModel)]="model.allAvailableBalance" #allAvailableBalance="ngModel" 
                  aria-label="Amount">
            </span>
            <span class="input-group-addon">All</span>
          </div>
        </div>
        <!--<div class="form-group">
            <label for="PaymentId">Payment Id:</label>
            <p class="input-group">
              <input type="text" class="form-control" name="paymentId" 
                  [(ngModel)]="model.paymentId" #paymentId="ngModel" 
                  id="PaymentId" placeholder="Enter payment id">                
              <button type="button" class="btn btn-primary">Generate</button>             
            </p> 
        </div>-->
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Send</button>
          <img *ngIf="sendLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />                
          <button type="reset" class="btn btn-danger">Clear</button>
        </div>
      </form>
    </div>
    <div class="col-lg-12">
      <h3>All transactions</h3>
      <table *ngIf="!loading" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Address</th>
            <th>Hash</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let transaction of data.transactions">
            <td>{{transaction.time | date: 'dd/MM/yyyy HH:MM'}}</td>
            <td>{{transaction.amount | amountTranform: 12 : 'KRB'}}</td>
            <td>{{transaction.address}}</td>
            <td>{{transaction.transactionHash}}</td>
          </tr>
        </tbody>
      </table>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />      
    </div>
  </div>
</div>
