/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";

hr {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.gradient-blue {
	background-color: #127CC6;
    background-image: linear-gradient(180deg,#0057B8 0%, #55C4F7 37%,#FFFFFF 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-footer {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.main-footer .row {
    margin-bottom: 0;
}
.main-footer .tab a.active{
    background-color: rgba(0, 0, 0, 0.1);
}
.main-footer .footer-nav a>i{
    line-height: 32px;
    height: 32px;
}
.main-footer .footer-nav a>span{
    display: block;
    line-height: 32px;
}
/* .main-footer li.tab {
    min-width: 80px;
} */
.card-container {
    background: #fff;
    padding: 10px;
    border: 0px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px #b8b9b9;
    margin-bottom: 20px;
}
.sort-title {
    padding-right: 5px;
    cursor: pointer;
}

/* form controls global style*/
/* label color */
.input-field label {
    color: #2196f3;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3;
}
/*color for active prefix-icon*/
.input-field .prefix.active {
    color: #2196f3;
}
/* label underline focus color */
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
 input[type=tel]:not(.browser-default):focus:not([readonly]), 
 input[type=number]:not(.browser-default):focus:not([readonly]), 
 input[type=search]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #2196f3;
    background-color: #2196f3;
}
.tabs .indicator {
    background-color: #fff;
}

/*style for postfix element*/
.input-field .postfix ~ input { 
    width: 80%; 
    width:calc(100% - 12rem);  
    margin-left:0px; 
    margin-right: 3rem!important; 
}
.input-field .postfix {
    position: absolute;
    width: 10rem;
    right: 0px;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.input-field .postfix.active {
    color: #26a69a;
}
.input-field input[type="checkbox"] + label, .input-field input[type="radio"] + label {
    pointer-events: auto;
}

/*preloader style*/
.pr-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
  }
  .pr-conteiner .pr-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
  }
  .pr-conteiner .pr-img {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: auto;
  }

  /*error input*/
.required-label::after {
    content: ' *';
    color: #dc3545;
}
.invalid-feedback {
    display: block;
    font-size: 12px;
    margin-top: -15px;
    padding-bottom: 15px;
}

/*alert service*/
.alert {
    position: fixed;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    z-index: 99;
}

/*validation form control style*/
.ng-invalid .has-error.input-field input,
.ng-invalid .has-error.input-field input:focus,
.ng-invalid .input-field textarea.materialize-textarea.is-invalid,
.ng-invalid .input-field textarea.materialize-textarea.is-invalid:focus {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}
.ng-invalid .has-error.input-field label {
    color: #f44336;
}

/*transactions style*/
.collection .collection-item.avatar .secondary-content {
    top: 10px;
    right: 5px;
}

nav .nav-wrapper .qr-code{
    position: relative;
    display: inline-block;
    width: auto;
    line-height: normal;
    background-color: #eee;
}

nav .nav-wrapper .qr-code i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/images/qrcode.svg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.scan-modal {
    max-width: 350px;
}
.scan-container video{
    width: 100%;
}

/*date and time pickers style*/
.picker__date-display {
    background-color: #2196F3;
}
.picker__day--selected, 
.picker__day--selected:hover, 
.picker--focused .picker__day--selected {
    background-color: #2196F3;
}
.picker__close, 
.picker__today, 
.picker__clear {
    color: #2196F3;
}
.picker__day.picker__day--today {
    color: #2196F3;
}
button.picker__today:focus, 
button.picker__clear:focus, 
button.picker__close:focus,
.clockpicker-tick.active, 
.clockpicker-tick:hover {
    background-color: #cde7fb;
}
.clockpicker-canvas-bg,
.clockpicker-canvas-bearing {
    fill: #cde7fb;
}
.clockpicker-canvas line {
    stroke: #cde7fb;
}

